{% extends 'base.html' %}

{% block title %} 
<title>Stock Info</title>
{% endblock %}

{% block body %}
<!-- TradingView Widget BEGIN -->
<div class="container">
    <center>
        <h1 class=ticker>SPY - SPDR S&P 500 ETF Trust</h1>
    </center>
    <div id="tradingview_SPY"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tv.js') }}"></script>
    <script type="text/javascript">
        new TradingView.widget({
            // "autosize": true,
            "width": '100%',
            "height": 610,
            "symbol": "SPY",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "withdateranges": true,
            "range": "ytd",
            "allow_symbol_change": false,
            "container_id": "tradingview_SPY"
        });
    </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="container">
    <center>
        <h1 class=ticker>QQQ - Invesco QQQ Trust</h1>
    </center>
    <div id="tradingview_QQQ"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tv.js') }}"></script>
    <script type="text/javascript">
        new TradingView.widget({
            // "autosize": true,
            "width": '100%',
            "height": 610,
            "symbol": "QQQ",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "withdateranges": true,
            "range": "ytd",
            "allow_symbol_change": false,
            "container_id": "tradingview_QQQ"
        });
    </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="container">
    <center>
        <h1 class=ticker>IWC - iShares Micro-Cap ETF</h1>
    </center>
    <div id="tradingview_IWC"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tv.js') }}"></script>
    <script type="text/javascript">
        new TradingView.widget({
            // "autosize": true,
            "width": '100%',
            "height": 610,
            "symbol": "IWC",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "withdateranges": true,
            "range": "ytd",
            "allow_symbol_change": false,
            "container_id": "IWC"
        });
    </script>
</div>
<!-- TradingView Widget END -->

<div class="container center" style="padding-top: 10em;">
    <center>
        <h1>More to come!!</h1> 
        <h1>In the meantime search for a ticker or check out todays watchlist.</h1>
    </center>
    <div style="padding-top: 5em;">
        <h1>To Do's:</h1>
        <h3 style="padding-left: 2em;"> - Add general market overview to homepage</h3>
        <h3 style="padding-left: 2em;"> - Add pre-market and after-hours movers watchlist</h3>
        <h3 style="padding-left: 2em;"> - Add my custom thinkorswim scanner watchlist to current finviz watchlist</h3>
        <h3 style="padding-left: 2em;"> - Work on website style</h3>
    
    </div>
</div>
{% endblock %}