{% extends 'base.html' %}
{% block title %}<title>Stock Info | Watchlist</title>{% endblock %} 

{% block body %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<div class="container">
    {{ twit[0] | safe }}
    <h5>Copy Fintwit tickers here (working on a copy-to-clipboard button)</h5>
    {% for ticker in twit[1] %}
        <a><h3 style="padding-left: 2em;">{{ ticker }}</h3></a>
    {% endfor %}
</div>
{% if scrn[0] != 'Check back after hours' %}
    <div class="container" style="padding-top: 5em;">
        <center><h1>Watchlist for {{ scrn[1] }}</h1></center>
        {% for ticker in scrn[0] %}
            <div style='width: min-content;'><a href="/{{ ticker }}" target="_blank" ><h3 style="padding-left: 2em;">{{ ticker }}</h3></a></div>
        {% endfor %}
    </div>
{% else %}
<!-- <div class="container" style="padding-top: 10em;">   
    <center><strong style="color:tomato">Check back after market hours</strong></center>
</div> -->
<p>Check back after hours</p>
{% endif %}
{% endblock %}